[Unit]
Description=TeleCrypt Plan
BindsTo=telecrypt-pod.service
Requires=telecrypt-mas.service
After=telecrypt-pod.service telecrypt-mas.service
PartOf=telecrypt.target

[Container]
ContainerName=telecrypt-plan
Image=${CONTROLPLANE_IMAGE}
PodmanArgs=--pod=telecrypt
PodmanArgs=--security-opt=no-new-privileges
PodmanArgs=--env-file=${TELECRYPT_DATA_DIR}/secrets/plan.secrets.env
PodmanArgs=--sdnotify=healthy
Pull=never
User=991:991
ReadOnly=true
DropCapability=ALL
Environment=SERVER_NAME=${SERVER_NAME}
Environment=BILLING_ENVIRONMENT=${BILLING_ENVIRONMENT}
Exec=/plan

HealthCmd=["/plan","healthcheck"]
HealthInterval=15s
HealthTimeout=5s
HealthRetries=5
HealthStartPeriod=30s

[Service]
EnvironmentFile=/home/ubuntu/salt_config/telecrypt-deployment.env
EnvironmentFile=/home/ubuntu/salt_config/image-env/controlplane-image.env
Restart=always
RestartSec=2
