TELECRYPT_DATA_DIR={{ pillar["telecrypt"]["data_dir"] }}
SERVER_NAME={{ pillar["telecrypt"]["server_name"] }}
BILLING_ENVIRONMENT={{ pillar["telecrypt"]["billing_environment"] }}
INGRESS_BIND_ADDRESS={{ pillar["telecrypt"]["ingress_bind_address"] }}
TRUSTED_PROXY={{ pillar["telecrypt"]["trusted_proxy"] }}
