[Unit]
Description=TeleCrypt application stack
Wants=telecrypt-pod.service
Wants=telecrypt-caddy.service
Wants=telecrypt-mas.service
Wants=telecrypt-synapse.service
Wants=telecrypt-registration.service
Wants=telecrypt-plan.service
Wants=telecrypt-cashier.service
Wants=telecrypt-lk-jwt.service
After=telecrypt-pod.service

[Install]
WantedBy=default.target
