[Unit]
Description=TeleCrypt applications pod

[Pod]
PodName=apps
Network=pasta
ExitPolicy=continue
PublishPort=127.0.0.1:9009:9009/tcp
PublishPort=127.0.0.1:9011:9011/tcp
PublishPort=127.0.0.1:9012:9012/tcp
